:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: rgb(216, 209, 203);
    --clr-background-tertiary: #fff;
    --clr-background-quaternary: #1b1b1be8;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Fira Sans Condensed', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* GENERAL */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: var(--clr-background-primary);
  opacity: 0.9;
}
.logo-text {
  font-family: var(--ff-logo);
  font-size: var(--fs-600);
  color: var(--clr-font-primary);
}
.nav-anchor,
.sidebar-span {
  color: var(--clr-font-primary);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 600;
}

/* HOME */
/* SLIDER */
.card-bottom {
  padding: 1.25rem;
  background-color: #d8d1cb;
  border-radius: 0px 0px 10px 10px;
}
.card-top {
  border-radius: 10px;
}
.card-top img  {
  border-radius: 10px 10px 0px 0px;
}
.card-title,
.card-price {
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  letter-spacing: .02em;
  text-transform: uppercase;
}
.card-title {
  border-bottom: 1px solid #b1b1b1;
}

/******************************************
/* LAYOUT
/*******************************************/

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}
.container-navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navlist-flex ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* HOME */
.bg-img {
  height: 110vh;
  background-image: url(./assets/images/home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo-text {
  padding-bottom: 0.15rem;
}
ul {
  margin-top: 13px;
  padding-left: 1rem;
}
/* SLIDER SECTION */
.slider-section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.card {
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
}
.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.438rem 0 #717171;
  margin-inline: 1rem;
  width: 15rem;
  position: relative;
}
.card-bottom {
  text-align: center;
  width: 100%;
}
.card-top img {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.slick-list {
  padding-block: 1rem;
}
.card-title {
  margin: 0;
  padding-bottom: 0.5rem;
}
.card-price{
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
.nav-menu.active {
  overflow: hidden;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.overlay {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  cursor: grab;
}
.buy-btn {
  width: 10rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: var(--clr-background-primary);
  background-color: var(--clr-background-secondary);
  letter-spacing: 0.063rem;
  font-weight: 700;
  border-radius: 1.25rem;
  text-transform: uppercase;
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, 0.2);
}
.buy-btn:hover {
  color: #fff;
  background-color: var(--clr-background-primary);
  transition: all ease 0.3s;
  opacity: 0.9;
}
.card-top:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-anchor:hover {
  border-bottom: 0.156rem solid rgb(216, 209, 203);
  opacity: 0.9;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 35rem) {
  /* Navbar CSS */
  header {
    position: relative;
    z-index: 10000;
  }
  nav {
    align-items: flex-start;
  }
  .navbar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
  }
  .menu-bars {
    margin-left: 2rem;
    font-size: 1.85rem;
    background: none;
    color: var(--clr-font-primary);
  }
  .nav-menu {
    background-color: var(--clr-background-primary);
    max-width: 15.625rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 9999;
  }
  .nav-menu.active {
    right: 0;
    transition: 450ms;
    z-index: 10000;
  }
  .nav-menu.active .menu-bars {
    color: var(--clr-font-primary);
  }
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .nav-text a {
    text-decoration: none;
    color: var(--clr-font-primary);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    background-color: #000000;
    color: #fff;
  }
  .nav-menu-items {
    width: 100%;
  }
  .navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar-span {
    margin-left: 16px;
  }
  .home,
  .reports,
  .products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #000;
    color: #fff;
  }
}