:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}
/******************************************
/* BASE STYLES
/*******************************************/
.cartlist-text,
.cartlist-price,
.cartlist-total-price,
.cartlist-no-items {
    color: var(--clr-font-primary);
    font-size: var(--fs-300);
    font-family: var(--ff-primary);
    margin-top: 0.5rem;
    text-transform: capitalize;
}

/******************************************
/* LAYOUT
/*******************************************/
.cartlist-menu {
    height: 95vh;
}
.cartlist-container {
    display: flex;
    padding-block: 0.5rem;
    border-bottom: 0.063rem solid #b1b1b1;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 6rem;
}
.cartlist-img {
    width: 3rem;
}
.cartlist-text {
    width: 7rem;
    padding-left: 0.2rem;
}
.cartlist-price {
    width: 3rem;
}
.cartlist-total-price,
.cartlist-no-items {
    text-align: center;
}
.cartlist-no-items {
    text-transform: none;
    margin-block: 1rem;
}
.cartlist-menu{
    position: fixed;
    top: 2.3rem;
    background-color: var(--clr-background-primary);
    padding: 0.625rem 0.3rem;
    min-width: 15rem;
}
/******************************************
/* ADITIONAL STYLES
/*******************************************/
.cartlist-menu.active{
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}
.cartlist-menu.inactive{
    visibility: hidden;
}
.cartlist-button {
    font-size: 1.3rem;
    border: none;
    color: var(--clr-font-primary);
    background-color: var(--clr-background-primary);
    font-family: var(--ff-primary);
    text-align: center;
    cursor: pointer;
    padding-right: 0.3rem;
}
.cartlist-go-cart--container {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}
.cartlist-go-cart {
    color: var(--clr-font-primary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-400);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--clr-background-secondary);
    background-color: var(--clr-background-primary);
    padding: 0.3rem 2rem;
    opacity: 0.9;
}
.cartlist-go-cart:hover {
    opacity: 1;
}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.quantity {
    display: flex;
    justify-content: space-between;
    width: 5rem;
    height: 2rem;
    border: 0.1rem solid #b1b1b1;
    color: var(--clr-font-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs-500);
}
.quantity-minus,
.quantity-plus {
    color: var(--clr-font-secondary);
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    padding-inline: 0.5rem;
    border: none;
    width: 1.5rem;
    cursor: pointer;
}
.quantity-minus {
    border-right: 0.1rem solid #b1b1b1;
}
.quantity-plus {
    border-left: 0.1rem solid #b1b1b1;
}
.quantity-number {
    margin-block: auto;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
@media (max-width: 40rem) {
    .quantity {
        width: 4.5rem;
    }
}