:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
/******************************************
/* BASE STYLES
/*******************************************/
.dropdown-text,
.dropdown-price,
.dropdown-total-price,
.dropdown-no-items {
    color: var(--clr-font-primary);
    font-size: var(--fs-400);
    font-family: var(--ff-tertiary);
    margin-top: 0.5rem;
    text-transform: capitalize;
}

/******************************************
/* LAYOUT
/*******************************************/
.dropdown-container {
    display: flex;
    padding-block: 0.2rem;
    border-bottom: 0.063rem solid #b1b1b1;
    align-items: flex-start;
    justify-content: space-between;
    height: 6rem;
}
.dropdown-img {
    width: 3rem;
}
.dropdown-text {
    width: 7rem;
}
.dropdown-price {
    width: 3rem;
}
.dropdown-total-price,
.dropdown-no-items {
    text-align: center;
}
.dropdown-no-items {
    text-transform: none;
    margin-block: 1rem;
}
/******************************************
/* ADITIONAL STYLES
/*******************************************/
.dropdown-menu{
    position: fixed;
    top: 2.3rem;
    background-color: var(--clr-background-primary);
    padding: 0.625rem 0.8rem;
    min-width: 15rem;
}
.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu.inactive{
    visibility: hidden;
}
.dropdown-button {
    font-size: 1.3rem;
    border: none;
    color: var(--clr-font-primary);
    background-color: var(--clr-background-primary);
    font-family: var(--ff-primary);
    text-align: center;
    cursor: pointer;
}
.dropdown-go-cart--container {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}
.dropdown-go-cart {
    color: var(--clr-font-primary);
    font-family: var(--ff-tertiary);
    font-size: var(--fs-400);
    text-transform: uppercase;
    border: 1px solid var(--clr-background-secondary);
    background-color: var(--clr-background-primary);
    padding: 0.3rem 2rem;
    opacity: 0.9;
}
.dropdown-go-cart:hover {
    opacity: 1;
}