:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/
.nav-info {
    background-color: var(--clr-background-primary);
}
.nav-info--text {
    color: var(--clr-font-primary);
    font-family: var(--ff-primary);
}
.nav-info--title {
    font-size: var(--fs-400);
}
.nav-info-desc {
    font-size: var(--fs-300);
}
.nav-footer--icons {
    color: var(--clr-font-primary);
}
.footer-form--input,
.footer-form--btn {
    font-family: var(--ff-primary);
    color: var(--clr-font-primary);
}
.text-copyright,
.text-copyright a {
    color: var(--clr-font-primary);
}
.prefooter-section {
    background-color: var(--clr-background-primary);
    opacity: 0.85;
}

/******************************************
/* LAYOUT
/*******************************************/
.footer-bg {
    max-height: 100vh;
    background-image: url("../../assets/images/footer-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.nav-info {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    min-height: 5rem;
    gap: 1rem;
}
.nav-info--img img {
    width: 3.75rem;
    margin-left: 1.25rem;
}
.nav-info--item {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}
.nav-info--icon {
    color: var(--clr-font-primary);
    font-size: 2.5rem;
}
.nav-footer {
    padding-top: 2rem;
}
.nav-footer ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}
.container-footer-form {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
.footer-form {
    position: relative;
    display: inline-block;
}
.footer-form--input {
    background-color: transparent;
    width: 30rem;
    height: 2.5rem;
    max-width: 100%;
    padding: 0.625rem;
    outline: 0;
    border: 0.125rem solid var(--clr-background-secondary);
    transition: border linear .3s;
    font-weight: 500;
    overflow: visible;
}
.footer-form--btn {
    overflow: visible;
    cursor: pointer;
    display: inline-block;
    border: 0.125rem solid;
    padding: 0.438rem 2.188rem;
    position: absolute;
    right: 0.313rem;
    top: 0.313rem;
    background: rgba(255,255,255,.5);
    border: 0;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    opacity: 0.9;
}
.footer-form--btn:hover {
    opacity: 1;
}
.container-copyright {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-block: 1rem;
    opacity: 0.5;
}
.nav-footer--icons {
    opacity: 0.9;
}
.nav-footer--icons:hover {
    opacity: 1;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.nav-anchor:hover {
    border-bottom: 0.156rem solid rgb(216, 209, 203);
    opacity: 1;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 40rem) {
    .nav-info {
        align-items: center;
        flex-direction: column;
    }
    .nav-info--item {
        min-width: 14.875rem;
        padding-top: 0.5rem;
    }
    .footer-form--input {
        width: 19rem;
    }
    .nav-footer--icons,
    .footer-form--btn {
        opacity: 1;
    }
}