:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
/******************************************
/* BASE STYLES
/*******************************************/
header {
    background-color: var(--clr-background-primary);
    opacity: 0.95;
    position: fixed;
    width: 100%;
}
.logo-text {
    font-family: var(--ff-logo);
    font-size: var(--fs-600);
    color: var(--clr-font-primary);
}
.nav-anchor,
.category-item.sidebar-nav a{
    font-size: var(--fs-500);
    color: var(--clr-font-primary);
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.9;
}
.sidebar-title.sidebar-nav {
    color: var(--clr-font-primary);
}
.close.sidebar-nav {
    color: var(--clr-font-primary);
}
/******************************************
/* LAYOUT
/*******************************************/

header {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    z-index: 2;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}
.logo-container {
    margin-block: auto;
}
.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navlist-flex {
    height: 100%;
    display: flex;
}
.navlist-flex ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-block: 0.9rem;
}
.logo-hold {
    padding-bottom: 0.15rem;
}
.nav-cart {
    position: relative;
    top: 1px;
}
.category-item.sidebar-nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/******************************************
/* ADITIONAL STYLES
/*******************************************/
.cart-items-number {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    line-height: 1rem;
    text-align: center;
    font-weight: bolder;
    color: #cf2e2e;
    padding: 1px 5px;
    margin-left: 4px;
    cursor: pointer;
    min-width: 2em;
    display: inline-block;
    position: relative;
    top: -1px;
}
/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 73rem) {
    .sidebar-container.sidebar-nav,
    .sidebar-container.sidebar-nav.active {
        background-color: var(--clr-background-primary);
        right: -100%;
    }
    .sidebar-container.sidebar-nav.active {
        right: 0;
    }
}

@media (max-width: 40rem) {
    .navbar {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    .logo-container {
        width: 100%;
    }
    .menu-bars {
        margin-left: 1.6rem;
        font-size: 1.85rem;
        background: none;
        color: var(--clr-font-primary);
    }
    .cart-items-number {
        padding: 0;
        margin-left: 0;
        line-height: 1.2rem;
        min-width: 0;
        position: relative;
        top: 0px;
    }

}