:root {
    --clr-background-primary: #131114;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/
.modal-overlay {
    background: rgba(49,49,49,0.8);
}
.modal-title,
.modal-text,
.modal-btn,
.modal-content p {
    color: var(--clr-font-secondary);
    font-family: var(--ff-primary);
}
.modal-title {
    font-size: var(--fs-600);
    text-align: center;
}
.modal-text,
.modal-content p {
    font-size: var(--fs-500);
}
.modal-btn {
    font-size: var(--fs-400);
    text-transform: uppercase;
    font-weight: bold;
}
.modal-icon {
    color: #0F834D;
    font-size: 5rem;
}
/******************************************
/* LAYOUT
/*******************************************/
.modal, .modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--clr-background-secondary);
    padding: 0.875rem 1.75rem;
    border-radius: 0.188rem;
    min-width: 25rem;
}
.container-modal-btn {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.modal-content-text {
    padding-top: 2rem;
}
.modal-content-text * {
    padding-block: 0.2rem;
}
.modal-price-container {
    padding-top: 1.5rem;
}
.modal-icon-container {
    display: flex;
    justify-content: center;
    margin-block: 1.5rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.modal {
    z-index: 100;
}
.modal.inactive {
    display: none;
}
.btn-black.modal-btn {
    font-family: var(--ff-secondary);
    padding: 0.8rem 1.2rem;
    background-color: var(--clr-background-primary);
    color: var(--clr-font-primary);
    border: none;
}
.error-message {
    color: #cc0d0d;
}
.modal-price {
    background-color: #DCDCDC;
    text-align: center;
    font-weight: bold;
}
.modal-content-text span {
    font-weight: bold;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 31rem) {
    .modal-content {
        min-width: 85%;
    }
}