/******************************************
/* BASE STYLES
/*******************************************/
.sidebar-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.category-item a {
    font-size: var(--fs-500);
    line-height: 3;
}
.close-sidebar.active {
    margin-bottom: 3rem;
  }
.close {
    font-size: var(--fs-700);
}

/******************************************
/* LAYOUT
/*******************************************/

.aside-container {
    margin-right: 2rem;
    width: 100%;
}
.sidebar-categories {
    margin-top: 1rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.sidebar-title.decorated::after {
    margin-inline: 0;
    width: 2rem;
    height: 0.25rem;
}
.category-item {
    border-bottom: 1px solid #ececec;
    opacity: 0.9;
}
.category-item:hover {
    opacity: 1;
}
.close-sidebar {
    display: none;
}

/******************************************
/* MEDIA QUERY
/*******************************************/
@media (max-width: 73rem) {
    .category-item {
        opacity: 1;
    }
    .close-sidebar {
        display: flex;
    }
    .sidebar-container,
    .sidebar-container.active {
        display: flex;
        position: fixed;
        width: 75%;
        height: 100vh;
        z-index: 1;
        top: 0;
        padding-top: 6rem;
        padding-left: 1.5rem;
        transition: 450ms;
    }
    .sidebar-shop--toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
        width: 100%;
        font-family: var(--ff-primary);
        font-size: var(--fs-500);
        text-transform: uppercase;
        gap: 1rem;
        font-weight: 600;
    }
}