:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/

.success {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-font-secondary);
    font-weight: bolder;
    height: 75px;
    width: 150px;
    position: fixed;
    bottom: 0vh;
    right: 0vh;
    background-color: var(--clr-background-secondary);
    box-shadow: 0 0 0.438rem 0 #717171;
    border-radius: 5px;
    padding-top: 20px;
    z-index: 2;
    opacity: 0.9;
  }
.success-icon {
    color: #0F834D;
}