:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/

.success {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-font-secondary);
    font-weight: bolder;
    height: 4.688rem;
    width: 9.375rem;
    background-color: var(--clr-background-secondary);
    box-shadow: 0 0 0.438rem 0 #717171;
    border-radius: 0.313rem;
    z-index: 2;
    opacity: 0.9;
    transition: ease-in-out 0.3s;
  }
.success-icon {
    color: #0F834D;
}

/******************************************
/* LAYOUT
/*******************************************/
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.success-icon {
  width: 17px;
  height: 15px;
}
.success.slider {
  position: absolute;
  bottom: 0;
}
.success.shop {
  position: fixed;
  right: 0;
  bottom: 0;
}