:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/
.main-title {
    font-size: var(--fs-xl);
    font-family: var(--ff-primary);
    text-align: center;
    line-height: 1.5;
}
.history-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-700) !important;
    line-height: 3.125rem;
}
.history-text {
    font-family: var(--ff-primary);
    font-size: var(--fs-500) !important;
    line-height: 1.1;
}
/******************************************
/* LAYOUT
/*******************************************/
.about-main {
    margin-top: 6rem;
}
.main-title {
    padding-inline: 0.5rem;
    text-align: center;
}
.container-history {
    display: flex;
    justify-content: space-around;
    margin-block: 6rem;
}
.container-splitted {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.history-img--container {
    margin-top: -3rem;

}
.history-img {
    max-width: 100%;
    max-height: 25rem;
    min-height: 15rem;
    border-radius: 0.125rem;
    box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, 0.2);
}
.text-end {
    text-align: end;
}
.vertical-timeline-element-content {
    align-items: initial !important;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.vertical-timeline {
    padding-top: 0 !important;
}
.vertical-timeline-element-content {
    box-shadow: none !important;
}
.vertical-timeline-element--work::after {
    clear: none !important;
}
.vertical-none {
    display: none;
}
.vertical-timeline-element-icon {
    z-index: 1;
    background: var(--clr-background-secondary);
    box-shadow: 0 0 0 4px #000,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05) !important;
    width: 10px !important;
    height: 10px !important;
    margin-left: -5px !important;
}
.vertical-timeline::before {
    background-color: var(--clr-background-primary);
    opacity: 0.85;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
@media (max-width: 73rem) {
    .container-main-title {
        margin-bottom: 3rem;
    }
    .vertical-timeline-element-icon {
        margin-left: 15px !important;
    }
    .text-end {
        text-align: initial;
    }
    .history-text {
        width: 80%;
    }
    .vertical-timeline-element-content {
        align-items: center !important;
    }
}
@media (max-width: 40rem) {
    .about-main--section {
        margin-top: 4rem;
    }
    .text-end {
        text-align: initial;
    }
    .history-text {
        width: 100%;
    }
    .vertical-timeline-element-content {
        align-items: flex-start !important;
    }
}