:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}
/******************************************
/* BASE STYLES
/*******************************************/
.cart-items .cartlist-container .cartlist-text,
.cart-items .cartlist-container .cartlist-price,
.cart-items .cartlist-total-price {
    color: var(--clr-font-secondary);
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
}
.empty-cart--text {
    color: var(--clr-font-secondary);
    font-size: var(--fs-600);
    font-family: var(--ff-primary);
}
.cart-category-items,
.cart-summary .cartlist-total-price,
.cart-summary-title {
    color: var(--clr-font-secondary);
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
    font-weight: 700;
    text-transform: uppercase;
}
.cart-summary-form input {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-font-secondary);
}
/******************************************
/* LAYOUT
/*******************************************/
.cart-main {
    padding-top: 6rem;
    min-height: 30rem ;
    padding-bottom: 3rem;
}
.cart-items .cartlist-container .cartlist-img {
    box-shadow: 0 0 0.438rem 0 #717171;
    width: 6rem;
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    gap: 2rem;
}
.split-grid {
    display: grid;
    grid-template-columns: 70% 30%;
}
.cart-category-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cart-items .cartlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cart-product-title {
    grid-column: 2;
    text-align: center;
}
.cart-product-price {
    grid-column: 3;
    text-align: center;
}
.cart-product-quantity {
    text-align: center;
}
.cart-items .cartlist-container .cartlist-text,
.cart-items .cartlist-container .cartlist-price,
.cart-items .cartlist-container .cartlist-button {
    margin-block: auto;
    width: 100%;
    text-align: center;
}
.empty-cart--button {
    padding-inline: 4rem !important;
}
.cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 10rem;
    border: 0.1rem solid #b1b1b1;
    padding: 1rem;
    margin-inline: 1rem;
}
.split-grid .cart-items {
    border: 0.1rem solid #b1b1b1;
    padding: 1rem;
}
.cart-summary .cartlist-total-price {
    margin-top: auto;
    margin-bottom: 1rem;
}
.cart-summary-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1.5rem;
}
.cart-summary-form {
    padding-inline: 0.5rem;
}
.cart-summary-form input {
    margin-block: 0.75rem;
    height: 2.25rem;
    width: 100%;
    padding-inline: 0.5rem;
}
/******************************************
/* ADITIONAL STYLES
/*******************************************/
.cart-summary .btn-black {
    padding-inline: 1rem;
}
/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 53rem) {
    .split-grid {
        display: block;
    }
    .cart-items .cartlist-container .cartlist-img {
        width: 4rem;
    }
    .cart-summary {
        margin-top: 2rem;
        margin-inline: 0rem;
    }
    .cart-summary .cartlist-total-price {
        margin-bottom: 0.5rem;
    }
    .cart-summary-form input {
        min-width: 25rem;
    }
}
@media (max-width: 40rem) {
    .cart-summary-form input {
        min-width: 18rem;
    }
}
@media (max-width: 28rem) {
    .cart-summary-form input {
        min-width: 15rem;
    }
}