:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* SLIDER */
  .slider-title {
    font-family: var(--ff-primary);
    font-weight: 700;
    text-align: center;
    font-size: var(--fs-xl);
    line-height: 3.125rem;
  }
  
  /* ABOUT */
  .home-about-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-700);
    line-height: 3.125rem;
  }

/******************************************
/* LAYOUT
/*******************************************/

.bg-img {
  height: 100vh;
  background-image: url(../../assets/images/home.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* SLIDER */
.slider-section {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.slick-list {
  padding-block: 1rem;
}
.nav-menu.active {
  overflow: hidden;
}
.slider-title {
  margin-bottom: 2rem;
}
  
/* ABOUT */
.about-section {
  margin-block: 6rem;
}
.home-about-img {
  max-width: 100%;
  max-height: 25rem;
  min-height: 15rem;
  border-radius: 0.125rem;
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, 0.2);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.overlay {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    cursor: grab;
}
.buy-btn {
    width: 10rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: var(--clr-background-primary);
    background-color: var(--clr-background-secondary);
    letter-spacing: 0.063rem;
    font-weight: 700;
    border-radius: 1.25rem;
    text-transform: uppercase;
    box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, 0.2);
    font-family: var(--ff-secondary);
    font-size: var(--fs-500);
}
.buy-btn:hover {
    color: var(--clr-font-primary);
    background-color: var(--clr-background-primary);
    transition: all ease 0.3s;
    opacity: 0.9;
}

.btn-container-carousel {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.btn-container-about {
    display: flex;
    justify-content: flex-start;
    padding-top: 3rem;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 40rem) {
  .home-about-title {
    text-align: center;
  }
  .btn-container-about {
    justify-content: center;
    padding-bottom: 3rem;
  }
  .first-splitted {
    margin-top: 4rem;
  }
}