:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
    :root {
      --fs-xl: 1.85rem; 
      --fs-700: 1.55rem;
      --fs-600: 1.3rem;
      --fs-500: 0.9rem;
      --fs-400: 0.8rem;
      --fs-300: 0.7rem;
  }
}

/******************************************
/* BASE STYLES
/*******************************************/
.sidebar-title.shop {
    color: var(--clr-font-secondary);
}
.category-item.shop a {
    color: var(--clr-font-secondary);
    font-family: var(--ff-primary);
}
.sidebar-title.shop {
    color: var(--clr-font-secondary);
}
.close.shop {
    color: var(--clr-font-secondary);
}
/******************************************
/* LAYOUT
/*******************************************/
.shop-container,
.shop-card--container {
    display: flex;
    justify-content: center;
}
.shop-card--container {
    flex-wrap: wrap;
}
.products--container {
    width: 100%;
    margin-top: 1rem;
}
.shop-card {
    width: 33%;
}
.sidebar-container {
    width: 25%;
}
.shop-products {
    width: 75%;
}
.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-pagination ul {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.sidebar-categories {
    margin-top: 1rem;
}
.shop-main {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.aside-container {
    margin-right: 1rem;
}
.container-nav-pagination {
    width: 100%;
    margin-top: 1.5rem;
}
.sidebar-toggle--shop {
    display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.select-sort {
    color: var(--clr-font-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    box-shadow: inset 0 -1.4em 1em 0 rgba(0,0,0,.02);
    background-color: var(--clr-background-secondary);
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0 .75em;
    height: 2.507em;
}
.page-number {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    display: block;
    line-height: 2em;
    text-align: center;
    min-width: 2rem;
    font-weight: bolder;
    border-radius: 50%;
    background-color: var(--clr-background-secondary);
    color: var(--clr-font-secondary);
    border: 2px solid var(--clr-background-primary);
}
.current {
    background-color: var(--clr-background-primary);
    color: var(--clr-font-primary);
}
.sidebar-toggle--shop span,
.sidebar-toggle--shop svg {
    cursor: pointer;
}
/******************************************
/* MEDIA QUERY
/*******************************************/
@media (max-width: 73rem) {
    .sidebar-container.shop,
    .sidebar-container.shop.active {
        background-color: var(--clr-background-secondary);
        left: -100%;
    }
    .sidebar-container.shop.active {
        left: 0;
    }
    .shop-products {
        width: 100%;
    }
    .sidebar-toggle--shop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
        width: 100%;
        font-family: var(--ff-primary);
        font-size: var(--fs-500);
        text-transform: uppercase;
        gap: 1rem;
        font-weight: 600;
    }
}
@media (max-width: 53rem) {
    .shop-card {
        width: 50%;
    }
}
@media (max-width: 48.125rem) {
    .shop-card {
        width: 100%;
    }
}
