:root {
    --clr-background-primary: #131114 ;
    --clr-background-secondary: #fff;

    --clr-font-primary: #fff;
    --clr-font-secondary: #131114;

    --fs-xl: 2rem; 
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;

    --ff-logo: 'Sail', sans-serif;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Dosis', sans-serif;
    --ff-tertiary: 'Fira Sans Condensed', sans-serif;
}
@media (max-width: 40rem) {
  :root {
    --fs-xl: 1.85rem; 
    --fs-700: 1.55rem;
    --fs-600: 1.3rem;
    --fs-500: 0.9rem;
    --fs-400: 0.8rem;
    --fs-300: 0.7rem;
}
}

/******************************************
/* BASE STYLES
/*******************************************/
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
body, h1,h2,h3,h4,h5,h6, p, a, ul {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
main {
  flex: 1;
}
footer {
  flex-shrink: 0;
}
.split {
  display: flex;
}
.split > * {
  flex-basis: 100%;
}
.split > * + * {
  margin-left: 2rem;
}
.nav-ul.header {
  padding-left: 1rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.btn-black {
  padding: 1rem 2.5rem;
  background-color: var(--clr-background-primary);
  color: var(--clr-font-primary);
  border: 0.188rem solid var(--clr-background-primary);
  border-radius: 0.063rem;
  font-size: var(--fs-400);
  font-family: var(--ff-secondary);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  opacity: 0.95;
  letter-spacing: 0.2rem;
}
.btn-black:hover {
  opacity: 1;
}
.decorated::after {
  height: 0.313rem;
  top: 0.625rem;
  width: 10%;
  max-width: 6.25rem;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  position: relative;
  left: 0;
  background-color: #0098e2;
}
/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-width: 48.125rem) {
  .split {
    flex-direction: column-reverse;
  }
  .split > * + * {
    margin-left: 0;
  }
  .btn-black {
    opacity: 1;
  }
}